<div class="page-header">
    <a ui-sref="home">back</a>
    <h3>{{post.text}}</h3>
</div>
<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvoteComment(comment)" ng-show="currentUser.username"></span>
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvoteComment(comment)" ng-show="currentUser.username"></span> {{comment.upvotes}} likes - by {{comment.author}}
    <span class="comment-body">{{comment.body}}</span>
</div>
<form ng-submit="addComment()" ng-show="currentUser.username">
    <h3>Add a new comment</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
