<div ng-repeat="post in posts | orderBy:'-upvotes' track by $index">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(post._id)" ng-show="currentUser.username"> </span>
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(post._id)" ng-show="currentUser.username"> </span> {{post.upvotes}} likes
    <span class="post-text">
      {{post.text}}
    </span> - by {{post.author}}
    <a ui-sref="comment({id: post._id})">comments</a>
    <a ng-click="deletePost(post)" ng-show="currentUser.admin"> Remove </a>
</div>
<form ng-submit="addPost()" ng-show="currentUser.username">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="text"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
